.list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo-container {
  display: flex;
}
.logo {
  width: 30px;
  height: 30px;
  margin-left: 30px;
  margin-top: 15px;
}
.delete {
  color: #475569;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.time {
  color: #64748b;
  font-weight: bold;
}
.title {
  color: #475569;
  font-size: 15px;
  margin-left: 30px;
  font-weight: bold;
  padding-top: 8px;
}
.domain-url {
  color: #64748b;
  margin-left: 30px;
  margin-top: 20px;
}
.button {
  background-color: transparent;
  border-width: 0px;
  cursor: pointer;
}

.row {
  display: flex;
}
.row1 {
  display: flex;
}

@media screen and (max-width: 767px) {
  .logo {
    width: 18px;
    height: 18px;
    margin-top: 25px;
    margin-left: 0px;
  }
  .time {
    font-size: 12px;
    text-align: left;
  }
  .title {
    font-size: 15px;
    margin-right: 50px;
    max-width: 300px;
  }
  .logo-container {
    display: flex;
    flex-direction: column;
  }
  .para-container {
    display: flex;
    justify-content: flex-start;
  }
  .row1 {
    display: flex;
    flex-direction: column;
  }
  .domain-url {
    margin-top: 0px;
  }
  .delete {
    margin-right: 30px;
  }
}
